.infotitulocontacto {
    padding: 40px;
    margin-top: 20px;   
}
.cuadrosdecontacto{
    form{
        padding: 0;
        margin: 0;
        display: grid;
        justify-content: center; 
    }
}  
.foto-logo-contacto{
    img{
        padding: 0;
        margin: 0;
        width: 250px; 
    }
}
.mensajewhatsapp {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.botonenviar {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    margin-top: 50px;
    margin-left: 650px;
    margin-right: 650px;
    background-color: #8b802e; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    display: flex;
    justify-content: center;
    }