.donde-estamos {
    margin-top: 50px;
    margin-left: 50px ;
    color: #595857;
    font-size: xx-large;  
    @include flexboxcenter (center)
}
.card{
    div{
        padding: 0;
        margin: 0;
        background-color: #ffecd7;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}

.card-text1 {
    margin-top: 20px;
    color: #595857;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
   
}

.card-text {
    margin-top: 20px;
    color: #260bed;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    text-shadow: rgb(7, 17, 206) 1px 0 10px;
}
    






