.donde-estamos {
    margin-top: 50px;
    margin-left: 50px ;
    color: #595857;
    font-size: xx-large;  
    display: flex;
    justify-content: center; 
}
.card{
    div{
        padding: 0;
        margin: 0;
        background-color: #ffecd7;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}
.card-body{
    img{
        margin: 0;
        padding: 0;
        width: 20px;
    }
}

