.bi{
    font-size: 35px;
    padding-right: 20px;
    display: flex; 
    align-items: center;
}
.seguinos{
    p{
        margin: 0px !important;
    }
}
.col-1{
    justify-content: center;
    margin-bottom: 50px;
}
.fotos{
    border-bottom: 1px solid black;
    padding-bottom: 50px;
}
.fotos-col-1{
    padding-left: 40px;
}
.fotos-col-1,
.fotos-col-2{
    width: 50%;
}
.img1-fotos{
    width: 420px;
    border-radius: 30px;
}
.img2-fotos{
    width: 300px;
    border-radius: 30px;
}

.cuadro{
    border: 1px solid #000000;
    border-radius: 40px;
    p{
        font-size: 17px;
        padding: 20px 60px 20px 60px;
        line-height : 30px; 
    }
}
.img-cuadro{
    margin-top: 30px;
}
.img-cuadro-celu{
    border-radius: 30px;
    width: 500px;

}
.col-2{
    .img1-fotos{
        width: 320px;
        border-radius: 30px;
    }
    .img2-fotos{
        width: 265px;
        border-radius: 30px;
    }
}
