.servicios {
    margin-top: 50px;
    margin-left: 50px ;
    color: #595857;
    font-size: xx-large;  
    @include flexboxcenter (center) 
    }

.primerafila {
    margin-top: 50px;
    padding: 0;
    @include flexboxcenter (center)
}
.carousel {
    max-width: 600px;
    padding: 0;
    
    box-shadow: -3px 6px 21px 0px rgba(0,0,0,0.75);
}

.segundafila {
    margin-top: 50px;
    padding: 0;
    @include flexboxcenter (center)

}
.container-sm2 {
    font-size: large;
    max-width: 600px;
    padding: 50px;
 
    box-shadow: -3px 6px 21px 0px rgba(0,0,0,0.75);
}
