.servicios {
    margin-top: 50px;
    margin-left: 50px ;
    color: #595857;
    font-size: xx-large;  
    @include flexboxcenter (center) 
    }

.carousel {

    width: 300px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin-left: 500px;


}