@mixin product_picture($src) {
    position: relative;
    width: 80%;
    height: 80%;
    background-image: $src;
  
    background-size: cover;
  
    border-radius: 20px;
  
    transition: 0.3s ease;
  
    color: rgba(1, 1, 1, 0);}
  
    &:hover {
      z-index: 1;
      border-radius: 5px;
      }


// Mixin para estilos de botones con diferentes tamaños y colores

@mixin button($size, $color) {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: $size;
  
// Aplicar estilos según el color seleccionado
@if $color == "red" {
      background-color: red;
      color: white;
    }
@else if $color == "blue" {
      background-color: blue;
      color: white;
    } 
@else if $color == "green" {
      background-color: green;
      color: white;
    }
@else {
      background-color: gray;
      color: black;
    }
  }
  
  // Uso del mixin en un botón
  
  .button {
    @include button(16px, "blue");
  }
  
  
  
  
  
  
  